{% extends 'base.html' %}

{% block content %}
<style>
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .password-reset-done {
        font-family: -apple-system, Roboto Bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        text-align: left;
    }
</style>

<div class='password-reset-done'>
    <h3>
        Password reset successed!
    </h3>
    <p>
        Your password has been set. You may log in now.
    </p>
    <p>
        <button type="submit"><a style="color: inherit; text-decoration: none;" href="../login">Log In</a></button>
    </p>
    
</div>

{% endblock %}