{% extends 'base.html' %}

{% block content %}
<style>
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .reset-page {
        font-family: -apple-system, Roboto Bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        text-align: left;
    }
</style>

<div class='reset-page'>
    <h5>Reset your password</h5>
    <form method="post">
    {% csrf_token %}
    {% for field in form %}
            <div class="fieldWrapper">
                {{ field.label_tag }}<br>
                {{ field }}

                {% for error in field.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
    {% endfor %}
    <br>
    <input type="submit" value="Change my password">
    
    </form>

</div>

{% endblock %}