{% extends 'base.html' %}

{% block content %}
<style>
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .email-input {
        font-family: -apple-system, Roboto Bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .box {
        background-color: #212529;
        color: white;
        width: 70ex; 
        height: 57ex; 
        text-align: center; 
        border-style: solid; 
        border-width: thick; 
        border-radius: 50px; 
        border-color: rgb(51, 51, 51);
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin:auto;
    }
    .buttons {
        min-width: 25ex;
        min-height: 8ex; 
        border-style: solid; 
        border-width: thin; 
        border-radius: 20px; 
        border-color: rgb(3, 3, 29);
    }
</style>
<div class='box'>
    <form method='post'>
        <h3>
            Password reset
        </h3>
        <p>
            <br>Forgot your password?<br>
            <br>Type your email down below and<br>
            get the instructions to set a new one.
        </p>
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
        </p>
        {% endfor %}
        <input type="submit" name="Send email">
    </form>
</div>

{% endblock %}