{% extends 'base.html' %}

{% block content %}
<style>
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .email-input {
        font-family: -apple-system, Roboto Bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
</style>
<div class='email-input'>
    <form method='post'>
        <h3>
            Password reset
        </h3>
        <p>
            Forgot your password?<br>
            Type your email down below and<br>
            get the instructions to set a new one.
        </p>
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
        </p>
        {% endfor %}
        <input type="submit" name="Send email">
    </form>
</div>

{% endblock %}