<style type="text/css">
    head {
        font-family: 'Courier New', Courier, monospace;
        font-weight: 380;
    }

    footer {
        font-family: 'Courier New', Courier, monospace;
        font-weight: 380;
    }

    body {
        background-color: beige;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 380;
    }

    :root {
        --main-background-color: beige;
        --dark-background-color: gray;
        --secondary-text-color: pink;
        --light-primary-text-color: purple;
    }
</style>