<style type="text/css">
    head {
        font-family: 'Courier New', Courier, monospace;
        font-weight: 380;
    }

    footer {
        font-family: Roboto Bold;
        font-weight: 380;
        background-color: black;
        color: white;
        border-style: solid; 
        border-width: thin; 
        border-color: white black black black;
    }

    body {
        background-color: black;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 380;
    }

    :root {
        --main-background-color: white;
        --dark-background-color: gray;
        --secondary-text-color: pink;
        --light-primary-text-color: purple;
    }
</style>