{% load static %}

<style type="text/css">
    head {
        font-family: Trebuchet MS;
        font-style: normal;
        font-weight: normal;
        background-color: #444147;
        font-weight: 380;
    }

    footer {
        font-family: Trebuchet MS;
        font-style: normal;
        font-weight: normal;
        background-color: #212529;
        color: white;
        border-style: solid; 
        border-width: thin; 
        border-color: #212529;
    }

    body {
        background: url({% static 'img/image2.jpg' %});
        background-color: #99caff;
        font-family: Trebuchet MS;
        font-style: normal;
        font-weight: normal;
        font-weight: 380;
    }

    :root {
        --main-background-color: white;
        --dark-background-color: gray;
        --secondary-text-color: pink;
        --light-primary-text-color: purple;
    }
</style>