{% extends 'base.html' %}
{% block content %}

{% load static %}

<style>
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .login {
        background-color: #3B2E84;
        width: 90ex; 
        height: 50ex; 
        text-align: center; 
        border-style: solid; 
        border-width: thick; 
        border-radius: 20px; 
        border-color: rgb(51, 51, 51);
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin:auto;
    }
    </style>

<div class='login row'>
    <br><br>
    <h2>Log in</h2>
    <form action="{% url 'login' %}" method="post">
        {% include 'snippets/messages.html' %}

        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}<br>
                {{ field }}
                <p class="help">{{ field.help_text }}</p>
                
            </div>
            {% endfor %}
        

        <button type="submit">Log in</button>
        <button type="submit">
            <a style="color: inherit; text-decoration: none;" href="/register">Register</a>
        </button><br><br>

        <h5>
            Forgot your password?
        </h5>
        <button type="submit">
            <a style="color: inherit; text-decoration: none;" href="../password_reset">Reset Password</a>
        </button>
    </form>
</div>

{% endblock %}