{% extends 'base.html' %}
{% load widget_tweaks %}
{% block name%}
Login
{%endblock%}


{% block content %}


{% load static %}

<style>
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .login {
        background-color: #3B2E84;
        width: 90ex; 
        height: 55ex; 
        text-align: center; 
        border-style: solid; 
        border-width: thick; 
        border-radius: 20px; 
        border-color: rgb(51, 51, 51);
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin:auto;
    }
    .box {
        background-color: #212529;
        width: 70ex; 
        height: 57ex; 
        text-align: center; 
        border-style: solid; 
        border-width: thick; 
        border-radius: 50px; 
        border-color: rgb(51, 51, 51);
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin:auto;
    }

    .container-buttons {
        display: flex;
        justify-content: space-around;
    }

    .buttons {
        min-width: 25ex;
        min-height: 8ex; 
        border-style: solid; 
        border-width: thin; 
        border-radius: 20px; 
        border-color: rgb(3, 3, 29);
    }
</style>

<div class='box'>
    <br>
    <h2 style="color: #FFFFFF">Log in</h2>
    <form action="{% url 'login' %}" method="post">
        {% include 'snippets/messages.html' %}

        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper" style="width: 50ex; margin-left: auto; margin-right: auto;">
                {{ field.label_tag }}<br>
                {% render_field field class="input form-control" placeholder=field.label %}

                {% for error in field.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <br>
        
        {% if form.errors %}
            <p style="color: red">Your email and password didn't match. Please try again.</p>
        {% endif %}

        <button type="submit" class="buttons btn-light">Log in</button>

        <button type="submit" class="buttons btn-light">
            <a style="color: inherit; text-decoration: none;" href="/register">Register</a>
        </button><br><br>

        <h5 style="color: #FFFFFF; font-size: 18pt">
            Forgot your password?
        </h5>
        <button type="submit" class="buttons btn-light">
            <a style="color: inherit; text-decoration: none;" href="../password_reset">Reset Password</a>
        </button>
    </form>
</div>

{% endblock %}