{% extends 'base.html' %}
{% block content %}

{% load static %}

<style>
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .login {
        font-family: -apple-system, Roboto Bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        text-align: left;
    }
    </style>

<div class='login row'>
    <h2>Log in</h2>
    <form action="{% url 'login' %}" method="post">
        {% include 'snippets/messages.html' %}

        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.label_tag }}<br>
                {{ field }}

                {% for error in field.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <br>
        
        {% if form.errors %}
            <p style="color: red">Your email and password didn't match. Please try again.</p>
        {% endif %}

        <button type="submit">Log in</button>
        <button type="submit">
            <a style="color: inherit; text-decoration: none;" href="/register">Register</a>
        </button><br><br>

        <h5>
            Forgot your password?
        </h5>
        <button type="submit">
            <a style="color: inherit; text-decoration: none;" href="../password_reset">Reset Password</a>
        </button>
    </form>
</div>

{% endblock %}