{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<style>
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .box {
        background-color: #212529;
        width: 55ex; 
        height: 60ex; 
        color: white;
        font-size: 15pt;
        border-style: solid; 
        border-width: thick; 
        border-radius: 50px; 
        border-color: rgb(51, 51, 51);
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin:auto;
    }

    .container-buttons {
        display: flex;
        justify-content: space-around;
    }

    .buttons {
        min-width: 20ex;
        min-height: 6ex; 
        border-style: solid; 
        border-width: thin; 
        border-radius: 20px; 
        border-color: rgb(3, 3, 29);
    }
</style>

<div class='box'>

<form method="post" action="{% url 'register' %}">
<br><h1  style="color: #FFFFFF">Sign up</h1><br>

{% include 'snippets/messages.html' %}

{% csrf_token %}
{% for field in registration_form %}
    <p>
        <div style="width: 40ex; margin-left: auto; margin-right: auto;">
            {{ field.label_tag }}<br>
            {% render_field field class="input form-control" placeholder=field.label %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
    </p>
{% endfor %}
<br>
<button type="submit" class="buttons btn-light">Sign up</button>
<button type="submit" class="buttons btn-light"><a style="color: inherit; text-decoration: none;" href="/login">Log In</a></button>
</form>
</div>
{% endblock %}