{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.register {
    background-color: #3B2E84;
    width: 90ex; 
    height: 50ex; 
    text-align: center; 
    border-style: solid; 
    border-width: thick; 
    border-radius: 20px; 
    border-color: rgb(51, 51, 51);
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
</style>

<div class='register'>

<form method="post" action="{% url 'register' %}">
<h2>Sign up</h2>

{% include 'snippets/messages.html' %}

{% csrf_token %}
{% for field in registration_form %}
    <p>
    {{ field.label_tag }}<br>
    {{ field }}
    {% if field.help_text %}
        <small style="display: gray">{{ field.help_text }}</small>
    {% endif %}
    {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
    {% endfor %}
    </p>
    {% endfor %}
<button type="submit">Sign up</button>
<button type="submit"><a style="color: inherit; text-decoration: none;" href="/login">Log In</a></button>
</form>
{% endblock %}
</div>